
.loading {
    position: fixed;
    top: 0px;
    left: 0px;
    min-width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,0.15);
}

.loading img {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -8px 0 0 -8px;
}

.header-line {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
}

.header-contents {
    font-weight: bold;
    padding: 1.5em;
    margin-right: -1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    text-align: center;
}

.booking-line {
    display: -ms-grid;
    display: grid;
    grid-gap: 10px;
    border: 1px solid #ddd;
    margin-bottom: -1px;
}

.contents {
    padding: 1.5em;
    margin-right: -1px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    min-height: 3em;
}

.booked {
    background-color: #cfc;
}

.selection {
    background-color: #ccf;
}

.time {
    font-weight: bold;
    margin: auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.pic span, .pax span {
    margin-left: 1em;
}

.iam-current-label .popover {
    width: 20em;
}

/*
 * Bootstrap callouts
 */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}
