{% load staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
	<meta content="text/html; charset=UTF-8" http-equiv="content-type">
	<meta name=viewport content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'eoi/foundation/css/normalize.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'eoi/foundation/css/foundation.css' %}" />
	<title>Membership application</title>

</head>
<body>

<!--
Personal details: pd_
pd_surname, pd_firstnames, pd_address
pd_home_phone, pd_work_phone, pd_cell_phone
pd_email, pd_occupation, pd_dob

Partner/Next of kin: nok_
nok_surname, nok_firsnames, nok_address,
nok_daytime_phone, nok_cell_phone,
nok_relationship[partner,family,other]

Membership: m_
m_type[flying, social]
m_proposer, m_seconder

Statutory declaration: sd_
sd_signed, sd_date
-->
<div class="row"><img  src="http://crac.co.nz/data/files/crac-logo.png"></div>
<div class="row"><h2>Membership application</h2></div>

{% if error_message %}<p><strong>Debug: {{ error_message }}</strong></p>{% endif %}


<form "{% url 'index' %}" method="post" data-abide>
{% csrf_token %}
	<div class="row">
	<fieldset>
		<legend>Personal Details</legend>	
			<div class="row">
				<div class="small-3 columns">
				  <label for="pd_surname" class="right inline">Surname *</label>
				</div>
				<div class="small-9 columns">
				  <input type="text" id="pd_surname" name="pd_surname" placeholder="" required>
				  <small class="error">Surname is a required field.</small>
				</div>
			</div>
			
			<div class="row">
				<div class="small-3 columns">
				  <label for="pd_firstnames" class="right inline">First names *</label>
				</div>
				<div class="small-9 columns">
				  <input type="text" id="pd_firstnames" name="pd_firstnames" placeholder="" required>
				  <small class="error">Name is a required field.</small>
				</div>
			</div>
			
			<div class="row">
				<div class="small-3 columns">
				  <label for="pd_address" class="right inline">Address *</label>
				</div>
				<div class="small-9 columns">
				  <input type="text" id="pd_address" name="pd_address" placeholder="" required>
				  <small class="error">Address is a required field.</small>
				</div>
			</div>
			
			<div class="row">
				<div class="small-3 columns">
				  <label class="right inline" for="pd_home_phone">Phones *</label>
				</div>
				<div class="small-9 columns">
				     <div class="row">
						<div class="large-4 columns">
						  <div class="row collapse prefix-radius">
							<div class="small-3 columns">
							  <span class="prefix">Cell</span>
							</div>
							<div class="small-9 columns">
							  <input type="tel" id="pd_cell_phone" name="pd_cell_phone" required>
							  <small class="error">Phone is a required field.</small>
							</div>
						  </div>
						</div>
						<div class="large-4 columns">
						  <div class="row collapse prefix-radius">
							<div class="small-3 columns">
							  <span class="prefix">Home</span>
							</div>
							<div class="small-9 columns">
							  <input type="tel" id="pd_home_phone" name="pd_home_phone">
							</div>
						  </div>
						</div>
						<div class="large-4 columns">
						  <div class="row collapse prefix-radius">
							<div class="small-3 columns">
							  <span class="prefix">Work</span>
							</div>
							<div class="small-9 columns">
							  <input type="tel" id="pd_work_phone" name="pd_work_phone">
							</div>
						  </div>
						</div>
					 </div>
				</div>
			</div>

			<div class="row">
				<div class="small-3 columns">
				  <label for="pd_email" class="right inline">Email *</label>
				</div>
				<div class="small-6 columns end">
				  <input type="email" id="pd_email" name="pd_email" placeholder="" required>
				  <small class="error">Please input a valid email address.</small>
				</div>
			</div>

			<div class="row">
				<div class="small-3 columns">
				  <label for="pd_occupation" class="right inline">Occupation</label>
				</div>
				<div class="small-6 columns end">
				  <input type="text" id="pd_occupation" name="pd_occupation" placeholder="">
				</div>
			</div>

			<div class="row">
				<div class="small-3 columns">
				  <label for="pd_dob" class="right inline">Date of birth *</label>
				</div>
				<div class="small-3 columns end">
				  <input type="date" id="pd_dob" name="pd_dob" required placeholder="YYYY-MM-DD">
				  <small class="error">Please specify a date in YYYY-MM-DD format.</small>
				</div>
			</div>


	</fieldset>
	</div>
	
	<div class="row">
	<fieldset>
		<legend>Partner/Next of kin</legend>	
		  <div class="row">
			<div class="small-3 columns">
				  <label for="nok_surname" class="right inline">Surname *</label>
				</div>
				<div class="small-9 columns">
				  <input type="text" id="nok_surname" name="nok_surname" placeholder="" required>
				  <small class="error">Next of kin surname is a required field.</small>
				</div>
			</div>
			
			<div class="row">
				<div class="small-3 columns">
				  <label for="nok_firstnames" class="right inline">First names *</label>
				</div>
				<div class="small-9 columns">
				  <input type="text" id="nok_firstnames" name="nok_firstnames" placeholder="" required>
				  <small class="error">Next of kin name is a required field.</small>
				</div>
			</div>
			
			<div class="row">
				<div class="small-3 columns">
				  <label for="nok_address" class="right inline">Address *</label>
				</div>
				<div class="small-9 columns">
				  <input type="text" id="nok_address" name="nok_address" placeholder="" required>
				  <small class="error">Next of kin address is a required field.</small>
				</div>
			</div>
			
			<div class="row">
				<div class="small-3 columns">
				  <label class="right inline" for="nok_daytime_phone">Phones *</label>
				</div>
				<div class="small-9 columns">
				     <div class="row">
						<div class="large-4 columns">
						  <div class="row collapse prefix-radius">
							<div class="small-3 columns">
							  <span class="prefix">Daytime</span>
							</div>
							<div class="small-9 columns">
							  <input type="tel" id="nok_daytime_phone" name="nok_daytime_phone" required>
							  <small class="error">Next of kin phone is a required field.</small>
							</div>
						  </div>
						</div>
						<div class="large-4 columns end">
						  <div class="row collapse prefix-radius">
							<div class="small-3 columns">
							  <span class="prefix">Cell</span>
							</div>
							<div class="small-9 columns">
							  <input type="tel" id="nok_cell_phone" name="nok_cell_phone" required>
							  <small class="error">Next of kin phone is a required field.</small>
							</div>
						  </div>
						</div>
					 </div>
				</div>
			</div>

			<div class="row">
				<div class="small-3 columns">
				  <label for="nok_relationship" class="right ">Relationship *</label>
				</div>
				<div class="small-9 columns">
					<input type="radio" name="nok_relationship" value="partner" id="nok_r_partner" required><label for="nok_r_partner">Partner</label>
					<input type="radio" name="nok_relationship" value="partner" id="nok_r_family" required><label for="nok_r_family">Family</label>
					<input type="radio" name="nok_relationship" value="partner" id="nok_r_other" required><label for="nok_r_other">Other</label>
					<small class="error">Please specify your relationship.</small>
				</div>
			</div>
			
			
			   

	</fieldset>
	</div>
	
	<div class="row">
	<fieldset>
		<legend>Membership</legend>	
			<div class="row">
				<div class="small-3 columns">
				  <label for="m_type" class="right ">Membership type *</label>
				</div>
				<div class="small-9 columns">
					<input type="radio" name="m_type" value="flying" id="m_type_flying" required><label for="m_type_flying">Flying</label>
					<input type="radio" name="m_type" value="social" id="m_type_social" required><label for="m_type_social">Social</label>
					<small class="error">Please select membership type.</small>
				</div>
			</div>
			
			<div class="row">
				<div class="columns large-12">
					<p>A <em>flying member</em> is one who is, or intends to become, a member of the Recreational Aircraft Association of New Zealand (RAANZ)
or; a rated pilot under Civil Aviation Regulations or; wishes to commence flight training under the club's training programme or; wishes to fly in the club aircraft as Pilot in Command.</p>
					<p>A <em>social member</em> is one who wishes to belong to the club for the camaraderie and enjoyment of participating in aviation as a non flyer.</p>
				</div>
			</div>
			
			<div class="row">
				<div class="small-3 columns">
				  <label for="m_proposer" class="right inline">Proposer's name</label>
				</div>
				<div class="small-9 columns">
				  <input type="text" id="m_proposer" name="m_proposer" placeholder="">
				</div>
			</div>

			<div class="row">
				<div class="small-3 columns">
				  <label for="m_seconder" class="right inline">Seconder's name</label>
				</div>
				<div class="small-9 columns">
				  <input type="text" id="m_seconder" name="m_seconder" placeholder="">
				</div>
			</div>

	</fieldset>
	</div>
	
	<div class="row">
	<fieldset>
		<legend>Statutory declaration</legend>	
		<div class="row">
			<div class="columns large-12">
				<p>I hereby declare that I will agree and abide by the rules and directives of the Recreational Aircraft Club of New Zealand Inc.
(RAANZ) and the Canterbury Recreational Aircraft Club Inc. (CRAC).  I hereby agree to save harmless, indemnify, and keep
indemnified the RAANZ and CRAC and their respective officers, members, employees, agents, volunteers and representatives
against all actions, suits, claims and demands, costs, damages and expenses to which they shall or may be liable for or in respect
of of any loss, damage, accidents or injury of whatsoever nature of kind and howsoever sustained or occasioned and 
whether to aircraft property or any property or persons arising directly or indirectly or in connection with any activity related thereto and not
withstanding that any waiver or other indulgence has been given to any person or persons in respect of any obligations and the
person named below shall and do fully and completely indemnify and protect the RAANZ and CRAC and their respective officers,
members, employees, agents, volunteers and representatives against any and all liability for damage, loss or injury caused by any
act, omission or negligence on the part of any person named below and the persons, servants, agents or crew.</p>
			</div>
		</div>

			<div class="row">
				<div class="small-2 columns">
				  <label for="sd_signed" class="right inline">Signed *</label>
				</div>
				<div class="small-4 columns">
				  <input type="text" id="sd_signed" name="sd_signed" placeholder="Your surname" required>
				  <small class="error">Please sign with your surname.</small>
				</div>
				<div class="small-2 columns">
				  <label for="sd_date" class="right inline">Date *</label>
				</div>
				<div class="small-4 columns">
				  <input type="text" id="sd_date" name="sd_date" placeholder="Today's date" required>
				  <small class="error">Please specify the date.</small>
				</div>
			</div>
	</fieldset>
	</div>
	
	
	<div class="row">
		<input type="submit" class="button large primary" value="Submit Application">
	</div>
</form>


  
	<script src="{% static 'eoi/foundation/js/vendor/jquery.js'  %}"></script>
	<script src="{% static 'eoi/foundation/js/foundation.min.js' %}"></script>
	<script>
		$(document).foundation();
	</script>
	
	
	
</body>
</html>
