{% extends "base-nologo.html" %}

{% load sekizai_tags staticfiles %}

{% block content %}
{% addtoblock "js" %}
    <script src="{% static "booking/jquery.cookie.js" %}"></script>
    <script src="{% static "booking/moment.min.js" %}"></script>
    <script src="{% static "booking/moment-range.min.js" %}"></script>
    <script src="{% static "booking/bootstrap-datepicker.min.js" %}"></script>
    <script src="{% static "booking/select2.min.js" %}"></script>
    <script src="{% static "booking/booking.js" %}?6"></script>
{% endaddtoblock %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{% static "booking/booking.css" %}?4"/>
    <link rel="stylesheet" href="{% static "booking/bootstrap-datepicker.min.css" %}"/>
    <link rel="stylesheet" href="{% static "booking/select2.min.css" %}"/>
    <link rel="stylesheet" href="{% static "booking/select2-bootstrap.css" %}"/>
    
{% endaddtoblock %}

    <div class="loading"><img src="{% static "booking/images/loading.gif" %}" alt="loading..."></div>

    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="input-group date">
               <select id="for-ac" class="form-control"></select>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-plane"></span>
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
    <div class="row">
	<div class="col-xs-4"><div class="btn btn-default prev-day">Previous day</div></div>
        <div class="col-xs-4">
            <div class="input-group date">
                <input class="today form-control"></input>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-th"></span>
                </div>
            </div>
        </div>
	<div class="col-xs-4"><div class="btn btn-default next-day pull-right">Next day</div></div>
    </div>
    <p>
	    <div class="js-table-content list-group"></div>
    </p>

    <div id="terminate-flight-form-content" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>Enter Hobbs hours</h3>
                </div>
                <div class="modal-body">
                    <p class="alerts bg-danger"></p>
                    <form class="terminate-flight-form" name="terminate-flight-form">
                        <div class="row form-group">
                            <label class="col-lg-4 control-label" for="term_hobs_start">Hobbs before the flight</label>
                            <div class="col-lg-8">
                                <input type="text" id="term_hobs_start" class="form-control">
                            </div>
                        </div>
                        <div class="row form-group">
                            <label class="col-lg-4 control-label" for="term_hobs_end">Hobbs after the flight</label>
                            <div class="col-lg-8">
                                <input type="text" id="term_hobs_end" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Save" id="term_submit">
                    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>

    <div id="add-form-content" class="modal fade" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>Booking details</h3>
                </div>
                <div class="modal-body">
                    <p class="alerts bg-danger"></p>
                    <form class="booking-form" name="booking-form">
                        <input type="hidden" id="url">
                        <input type="hidden" id="date">
                        <input type="hidden" id="hobs_start">
                        <input type="hidden" id="hobs_end">
                        <div class="form-group">
                            <label class="col-lg-4 control-label" for="aircraft">Aircraft</label>
                            <div class="col-lg-8">
                                <select id="aircraft" class="form-control"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label" for="from_time">From time</label>
                            <div class="col-lg-8">
                                <input type="text" id="from_time" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label" for="to_time">To time</label>
                            <div class="col-lg-8">
                                <input type="text" id="to_time" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label" for="pic">Pilot/Student</label>
                            <div class="col-lg-8">
                                <select id="pic" class="form-control member-select" style="width: 100%"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label" for="pax">Passenger/Instructor</label>
                            <div class="col-lg-8">
                                <select id="pax" class="form-control member-select" style="width: 100%"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label" for="contact_email">Your E-mail</label>
                            <div class="col-lg-8">
                                <input type="email" id="contact_email" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label" for="contact_phone">Phone</label>
                            <div class="col-lg-8">
                                <input type="text" id="contact_phone" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-lg-4 control-label iam-current-label" for="iam-current">
                                I'm <a href="#" class="current_popover">current</a>
                            </label>
                            <div class="col-lg-8">
                                <input type="checkbox" id="iam-current">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="details">Details of the flight</label><br>
                            <textarea id="details" class="form-control input-xlarge"></textarea>
                        </div>
                    </form>
		    <div class="bs-callout bs-callout-warning">
			If selecting a specific instructor, be sure you have arranged this with them, the booking system does not do that for you.
	            </div>
                </div>

                <div class="modal-footer">
                    <input class="btn btn-success" type="submit" value="Save" id="submit">
                    <input class="btn" type="submit" value="Delete" id="delete">
                    <a href="#" class="btn" data-dismiss="modal">Cancel</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

