{% extends "booking/base.html" %}

{% load staticfiles %}

{% block style %}
<link rel="stylesheet" href="{% static "booking/booking.css" %}"/>
{% endblock %}

{% block contents %}
    <div class="row">
        <div class="btn prev-day">Previous day</div>
        <div class="btn next-day pull-right">Next day</div>
    </div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5 today">Today</div>
    </div>
    <div class="js-table-content list-group"></div>
    <div class="row">
        <div class="col-md-2 col-md-offset-5 today">Today</div>
    </div>
    <div class="row">
        <div class="btn prev-day">Previous day</div>
        <div class="btn next-day pull-right">Next day</div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static "booking/moment.min.js" %}"></script>
    <script src="{% static "booking/moment-range.min.js" %}"></script>
    <script src="{% static "booking/booking.js" %}"></script>
    
{% endblock %}
